<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body class="demo3" >
  <header class="header">
    <div class="logo">
      <img src="https://elasticbeanstalk-eu-west-1-338733064390.s3.eu-west-1.amazonaws.com/Screenshot+2023-12-08+at+19.18.57.png" alt="Logo">
    </div>
    <h1>Aitana</h1>
  </header>

  <div class="dashboard">
    <div class="widget">
      <h2>Título del Widget 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at est aliquam, cursus dui nec, faucibus dolor.</p>
    </div>

    <div class="widget">
<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/3620_RC01/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"Aitana","geo":"ES","time":"2024-02-02T12 2024-02-03T12"}],"category":0,"property":""}, {"exploreQuery":"q=Aitana&date=now%201-d&geo=ES&hl=es","guestPath":"https://trends.google.com:443/trends/embed/"}); </script>    </div>

    <div class="widget">
      <h2>Título del Widget 3</h2>
      <p>Vivamus at libero eu ipsum ultrices eleifend. Morbi pellentesque velit in nulla venenatis, at tincidunt justo laoreet.</p>
    </div>

    <div class="widget">
      <h2>Título del Widget 4</h2>
      <p>Vivamus at libero eu ipsum ultrices eleifend. Morbi pellentesque velit in nulla venenatis, at tincidunt justo laoreet.</p>
    </div>

    <div class="widget">
      <h2>Título del Widget 5</h2>
      <p>Vivamus at libero eu ipsum ultrices eleifend. Morbi pellentesque velit in nulla venenatis, at tincidunt justo laoreet.</p>
    </div>

    <div class="widget">
      <h2>Título del Widget 6</h2>
      <p>Vivamus at libero eu ipsum ultrices eleifend. Morbi pellentesque velit in nulla venenatis, at tincidunt justo laoreet.</p>
    </div>

  </div>

</body>
</html>
