<div class="header">
  <img src='https://elasticbeanstalk-eu-west-1-338733064390.s3.eu-west-1.amazonaws.com/Screenshot+2023-12-08+at+19.18.57.png' width='100' height='100'>
</div>
<div class="container">
  <h1>DEMO 1</h1>

    <div class="news">
      <div class="editable-text">
        <h3>Texto 1:</h3>
        <textarea id="newsText1" rows="6" cols="50">El PP rechaza la "comisión de trabajo" propuesta por Sánchez para negociar la renovación del CGPJ
El presidente del Gobierno ha anunciado que planteará al líder de la oposición una comisión de trabajo donde abordar la renovación del Poder Judicial, la reforma del artículo 49 de la Constitución y la cuestión de la financiación autonómica. Una propuesta que ya ha rechazado el PP.

Reunión con el líder del PP


El PP ha rechazado la propuesta de Sánchez para crear una "comisión de trabajo" para abordar la financiación autonómica, la reforma del artículo 49 de la Constitución y la renovación del Consejo General del Poder Judicial (CGPJ). La portavoz de la formación, Cuca Gamarra, ha afirmado que el PP "no requiere ninguna mesa de diálogo como la que ha creado con los independentistas". No obstante, el líder del PP ya avanzó este miércoles que sí atenderá a la llamada que el presidente ha avanzado para invitarle a Moncloa y tratar estos asuntos.

El presidente del Gobierno, Pedro Sánchez, ha anunciado en una entrevista en 'Antena 3' que plantearía a Alberto Núñez Feijóo la creación de este organismo, tras adelantar este mismo miércoles su intención de llamar al líder de la oposición antes de que acabe el año para hablar de estas cuestiones.

"Le voy a plantear una comisión de trabajo", ha avanzado ahora Sánchez, que ha reivindicado la importancia de que "los dos grandes partidos políticos" trabajen "con un horizonte de acuerdo". "Espero que podamos llegar a algún tipo de acuerdo", ha manifestado en este sentido.

Así, ha indicado que en esa comisión de trabajo se tratarían tres temas "fundamentales" y "prioritarios" para el inicio de la legislatura: la reforma del sistema de financiación autonómica; la renovación del CGPJ y la reforma del artículo 49 de la Carta Magna para eliminar el término "disminuido", tal y como reclama el colectivo de las personas con discapacidad. Una propuesta que ya han rechazado desde la oposición.

El sistema de elección del Poder Judicial

En lo que respecta al órgano de gobierno de los jueces, cuya renovación lleva cinco años bloqueada, el líder socialista ha hecho hincapié en la importancia de desencallar la situación, porque "afecta directamente a los ciudadanos" por los retrasos en la acción judicial.

No obstante, el jefe del Ejecutivo ha reiterado su rechazo a la postura del PP, que ahora insiste en renovar el CGPJ y cambiar la forma de elección de sus miembros simultáneamente. A este respecto, ha incidido en que el sistema de elección de los vocales "viene funcionando desde hace ya muchísimos años" y ha criticado que "lo que está planteando el PP es 'yo primero quiero cambiar el método de elección para cumplir con la Constitución'".

"¿Por qué al PP se le plantea una ley del embudo? Muy ancho para ellos y muy estrecho para el resto", ha aseverado. De este modo, ha defendido que en primer lugar habrá que exigirle que cumpla con la Constitución y, a partir de ahí, "si tiene una mayoría parlamentaria para cambiar el método de elección del CGPJ", que la saque adelante.

"El planteamiento que está haciendo el PP es 'primero que se cumpla con nuestras condiciones para cumplir con la Constitución'" ha insistido Sánchez, que ha recordado que en el pasado ha llegado a hasta tres acuerdos con el PP para renovar el CGPJ, sin que esto se materializara finalmente. Además, ha reiterado que este bloqueo supone "un caso de libro" de 'lawfare'.

Precisamente, la víspera Sánchez ya indicó, en un corrillo informal con periodistas en el Congreso, que no aceptaría la imposición de condiciones para renovar el Poder Judicial. A su vez, desde el PP avanzaban que Feijóo aceptaría reunirse con el presidente en Moncloa si este le llama, pero insistían en su propuesta de renovar el Poder Judicial y cambiar su sistema de elección a la vez.</textarea>
      </div>
    </div>

    <div class="news">
      <div class="editable-text">
        <h3>Texto 2:</h3>
        <textarea id="newsText2" rows="6" cols="50">Génova se revuelve contra el “despropósito” de la mesa de trabajo que ahora ofrece Sánchez
Moncloa intenta distraer la atención hacia una oferta de pactos de Estado que inhabilita su negociación con Puigdemont

 La entrevista que ayer hizo Susanna Griso al presidente del Gobierno, Pedro Sánchez, en Espejo Público, Antena 3, fue el marco desde el que Moncloa puso en marcha el experimento de su nueva estrategia para intentar crear un marco más favorable para Sánchez en un contexto político duro y en el que lo peor de la negociación con los independentistas está por llegar, y no ha sido el pacto de investidura. La semana que viene se celebrará en el Congreso el primer debate sobre la ley de amnistía y los grupos también han incluido en el orden del día el debate sobre la creación de las polémicas comisiones de investigación que los socialistas acordaron abrir con los independentistas catalanes.

Los ideólogos presidenciales, en un nuevo giro de guion para dar sentido a la estrambótica mesa de negociación con Puigdemont bajo verificación internacional, y también con Oriol Junqueras, echaron a rodar, en la entrevista de Susanna Griso, la propuesta de crear otro grupo de trabajo con el PP para hablar de pactos de Estado. Puede sonar a broma, viniendo de donde viene el jefe del Ejecutivo, pero él lo defendió con toda solemnidad. Para Génova no es más que otro “despropósito” que hoy, cuando toda la política de España se decide en Ginebra, y depende de quien todavía es un prófugo de la Justicia, Sánchez lance esta idea para tratar de crear un nuevo marco comunicativo a fin de “blanquear” su negociación con Puigdemont.

El valor que los populares dan a esta propuesta es “cero”, una “maniobra más de distracción”, y que, a juicio del PP, refleja que Sánchez no tiene límites en defender una cosa y la contraria. La amnistía y la negociación clandestina en Ginebra inhabilitan al presidente para plantear una mesa de trabajo con el partido que ganó las elecciones, insisten en la cúpula del PP. “No hay camino intermedio entre Puigdemont y nosotros. No puedes estar negociando la ruptura de España en una mesa y sentarte en otra para convencer a los españoles de que eres un gran estadista”, añaden las mismas fuentes.

El PP recibe con absoluto escepticismo estos llamamientos al acuerdo por parte de Sánchez, y hasta anticipan que si no está dispuesto a cambiar el sistema de elección de los jueces, que se ahorre la llamada para convocar a Feijóo a una reunión en Moncloa sobre la renovación pendiente del Consejo General del Poder Judicial (CGPJ).

Sánchez es un hábil estratega y con este movimiento lo que busca es sacudirse parte del coste que conlleva su pacto con los independentistas y generar la sensación de que es el hombre del diálogo, que se presta a buscar nuevos formatos para desarrollarlo, creando mesas extraparlamentarias, mientras que vincula a la derecha con el ruido y la crispación. Es una tarea complicada porque Sánchez está sentado en un polvorín con socios enfrentados entre ellos, y en el que hasta la izquierda se ha roto con la salida de Podemos de Sumar.

Tras escuchar la entrevista en Antena 3, fuentes de la dirección popular mostraron también su extrañeza porque el presidente del Gobierno plantee para el PP lo mismo que para Junts y Esquerra. Asimismo, recordaron que la reforma del artículo 49 de la Constitución, para suprimir el término “disminuido”, está supeditada a que los socios del PSOE no exijan un referéndum constitucional y esto no lo puede asegurar el presidente del Gobierno. Y resaltaron la intranquilidad que les provoca la falta de contundencia de Sánchez a la hora de negar un referéndum en Cataluña, “así que ya podemos presuponer que será lo próximo”.

Todos estos mensajes confirman que la posibilidad de que fructifique algún tipo de acuerdo entre PSOE y PP en la legislatura de la amnistía es cercana a cero. En su propuesta de comisión de trabajo con el PP Sánchez incluyó la financiación autonómica, si bien ya hay un marco institucional para que se afronte ese debate, que es el Consejo de Política Fiscal y Financiera, y, además, en la “mesa” de Ginebra está también la discusión, en modo bilateral, de la financiación de la Generalitat, con la propuesta de pacto fiscal y de condonación de la deuda.

Por otra parte, Sánchez introdujo en su argumentario la idea de que Feijóo también habría concedido la amnistía a los encausados por el “procés” si los hubiera necesitado para gobernar tras el 23J, como le ha ocurrido a él. “Si el PP dependiera de los votos de Vox y dependiera de los nacionalismos periféricos para ser presidente del Gobierno habría aprobado la ley de amnistía”, apostilló, después de haber insistido en que en España sí existe “lawfare” (persecución judicial por ideología).</textarea>
      </div>
    </div>

    <button onclick="generateW()">Generar 5W</button>

    <div class="clean-news">
      <h3>Cinco W:</h3>
      <ul id="resultList">
        <!-- Aquí se mostrarán las 5W -->
      </ul>
    </div>
  </div>
